{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">World Kitchen</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'recipe_list' %}">Menu</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'recipe_add' %}">Add recipe</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <h1>{{recipe.title}}</h1>
        <form action="{% url 'comment' recipe.id %}" method = "post">
            {% csrf_token %}
            <label for="text", id="text", name="text">Text</label><br><br>
            <textarea name="text" id="text"></textarea>
            <button type="submit">Submit</button>
        </form>
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#privacy">Privacy Policy</a></li>
                    <li><a href="#terms">Terms of Service</a></li>
                </ul>
            </nav>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
            </div>
            <p>&copy; 2024 World Kitchen. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>