{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">

</head>
<body> 
    <header>
        <div class="container">
            <h1 class="logo">World Kitchen</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'recipe_list' %}">Menu</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'recipe_add' %}">Add recipe</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <div class="recipes_container_item_detail">
        <img class="recipes_container_item_img_details" src="{{recipes.image.url}}" alt="">
    </div>
    <h1>{{ recipes.title }}</h1>
    <br>
    <h2>ingredients</h2>
    <p>{{recipes.ingredients}}</p>
    <br>
    <h2>instructions</h2>
    <p>{{recipes.instructions}}</p>
    <br>
    <p>lasting:{{recipes.prep_time}} minutes</p>
    
    <h2>Comments</h2>
    {% if comment %}
        {% for i in comment %}
            <li>{{ i.creator }} <br><br>{{ i.text }} <br>Commented at {{i.created_at}}</li> <br><br>
        {% endfor %}
    {% else %}
    <p>No comments yet</p>
    {% endif %}
    <a href="{% url 'comment' recipes.id %}">Add comment</a><br><br>


    <p>rateing: {{recipes.rate}}</p>    
    <p>rate {{recipes.count}} users</p>
    <a href="{% url 'rate' recipes.id %}">Rate</a>
    <p>created by: {{recipes.creator}}</p>
    
    {% if boolean == True %}
        <a href="{% url 'recipe_edit' recipes.id %}">Edit recipe</a>
    {% endif %}
    </main>
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{% url 'recipe_list' %}">Menu</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'recipe_add' %}">Add Recipe</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </nav>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
            </div>
            <p>&copy; 2024 World Kitchen. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>