body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #6b6b6b;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Apply this style to the main container of your page to ensure it takes up the full height of the viewport */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Ensure the main content area takes up the remaining space */
.main-content {
    flex: 1;
}

main{
    margin: 10px;
}

/* Footer styles */
footer {
    background-color: #6b6b6b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    box-sizing: border-box;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    text-decoration: none;
    color: #000000;
}

footer .social-media {
    margin: 0;
}

footer .social-media a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}

footer .social-media a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0 0;
}

.recipes_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.recipes_container_item {
    width: 200px;
    height: 200px;
    margin: 0 10px;
}

.recipes_container_item_img {
    width: 80%;
    height: 80%;
    margin: 10px;
    margin-left: 0px;
}

.recipes_container_item_img_details{
    width: 500px;
    height: 400px;
}